@use "sass:color";
@use "vars";

$blue: #1E293B;
$accent: #005773;
$black: #364356;
$gray: #7b7b7b;


@forward "./categories";
@forward "./rating";
@forward "./reviews";
@forward "./control-swiper";
@forward "./tfm-product-card-small";


.tfm-desktop .main {}

-slider .swiper-slide {
	position: relative;
	overflow: hidden;
}

.main-slider .swiper-slide img {
	display: block;
	width: 100%;
	transition: transform 0.2s ease;
	transform-origin: center;
	cursor: zoom-in;
}

.container {
	max-width: 1690px;
	padding: 0 15px;
	margin: 0 auto;
}

.product-short-specs {
	list-style: none;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;

	@media (max-width: vars.$tablet) {
		gap: 0;
	}
}

.product-button {
	border: $accent 2px solid;
	border-radius: 12px;
	padding: 16px 24px;
	line-height: 100%;
	background-color: transparent;
	color: $accent;
	font-weight: 700;
	transition: all .3s;

	&.product-button-filled {
		background-color: $accent;
		color: #fff;
	}

	&:hover {
		background-color: color.adjust($accent, $lightness: 6%);
	}

	&:active {
		background-color: color.adjust($accent, $lightness: -6%);
	}
}

.product-spec {
	display: flex;
	justify-content: space-between;
	position: relative;
	gap: 32px;

	@media (max-width: vars.$tablet) {
		font-size: 14px;
	}

	&::after {
		content: '';
		background-color: #7c7c7c;
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: 10px;

		@media (max-width: vars.$tablet) {
			bottom: auto;
			top: 16px;
		}
	}

	&-name {
		color: $black;
		font-weight: 400;
		background-color: #fff;
		position: relative;
		z-index: 1;
		padding-right: 4px;
		flex: 0 1 fit-content;

		@media (max-width: vars.$tablet) {
			line-height: 150%;
		}
	}

	&-value {
		color: $blue;
		background-color: #fff;
		position: relative;
		z-index: 1;
		padding-left: 4px;
		text-align: right;
		white-space: nowrap;

		@media (max-width: vars.$tablet) {
			line-height: 125%;
		}
	}
}

.product-card {
	max-width: 1690px;
	padding: 0 15px;
	margin: 0 auto;

	.gallery {
		min-width: 0;
		user-select: none;
		position: relative;

		.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.swiper-button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: transparent;

			height: 100%;

			&::after {
				display: none;
			}

			svg {
				width: 8px;
				height: 16px;
			}
		}

		.previews {
			margin-top: 12px;

			.swiper-slide {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					inset: 0;
					z-index: 10;
					background-color: rgba(#000, 2%);
					border-radius: 20px;
				}
			}
		}
	}

	.product-info {
		max-width: 540px;

		@media (max-width: vars.$laptop) {
			max-width: 400px;
		}

		@media (max-width: vars.$laptop) {
			max-width: 100%;
		}

		.product-tags {
			display: flex;
			margin-top: 12px;
			align-items: center;
			gap: 16px;

			flex-wrap: wrap;
		}

		.product-tag {
			white-space: nowrap;
			padding: 8px 12px;
			color: $accent;
			background-color: #f5f5f5;
			border-radius: 999px;
			font-weight: 700;
		}

		.product-reviews-tag {
			display: flex;
			gap: 6px;
			align-items: center;
			font-weight: 700;
			color: $black;

			a {
				font-size: 14px;
				color: $gray;
				text-decoration: underline;
				white-space: nowrap;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.product-card__product {
		display: flex;
		gap: 20px;

		@media (max-width: vars.$laptop) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: vars.$tablet) {
			grid-template-columns: 1fr;
		}

		.gallery {
			@media (max-width: vars.$laptop) {
				grid-column-start: 1;
				grid-column-end: 3;
			}

			@media (max-width: vars.$tablet) {
				grid-column-end: 1;
			}

			.main-slider {
				border-radius: 16px;
				position: relative;

				@media (max-width: vars.$laptop) {
					max-width: 600px;
				}

				&::after {
					content: '';
					position: absolute;
					inset: 0;

					background-color: rgba(#000, 2%);
					z-index: 10;
					pointer-events: none;
				}
			}
		}

		.product-availability {
			font-size: 14px;
			color: #77A464;
			margin-bottom: 4px;
			display: flex;
			align-items: center;
			gap: 4px;

			&::before {
				content: '';
				width: 4px;
				height: 4px;
				background-color: #77A464;
			}

			&.not-available {
				color: #ff3b3e;

				&::before {
					background-color: #ff3b3e;
				}
			}
		}

		.product-spec-link {
			font-weight: 700;
			color: $accent;
			text-decoration: underline;
			display: inline-block;
			margin-top: 6px;
		}

		.product-excerpt {
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			line-height: 125%;
			margin: 0;
			color: $blue;
		}

		.product-delivery {
			display: flex;
			gap: 8px;
			list-style: none;
			gap: 12px;
			margin: 0;
		}

		.product-delivery-method {
			img {
				max-width: 100%;
				height: 56px;
			}
		}
	}

	.product-card__product .product-payment-header {
		display: flex;
		align-items: center;

		justify-content: space-between;

		button {
			all: unset;
			display: flex;
			align-items: center;
			gap: 4px;
			color: $black;

			@media (max-width: vars.$tablet) {}
		}
	}

	.product-card__product .payment {
		max-width: 380px;
		flex-shrink: 0;

		@media (max-width: vars.$laptop) {
			max-width: 100%;
		}

		.product-payment-card {
			padding: 16px;
			background-color: #f2f2f2;
			border-radius: 16px;
		}



		.price-block {
			padding: 12px;
			border-radius: 20px;
			background-color: #fff;
			margin-top: 12px;

			@media (max-width: vars.$tablet) {
				margin-top: 0;
			}

			.price {
				display: flex;
				align-items: flex-end;
				gap: 8px;
			}

			.new-price {
				font-weight: 700;
				font-size: 32px;
				color: $accent;
			}

			.old-price {
				font-size: 14px;
				color: $gray;
				text-decoration: line-through;
				transform: translateY(5px);
			}

			.buy-buttons {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 12px;
				margin-top: 16px;


			}
		}

		.payment-options {
			list-style: none;
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.payment-option {
			display: flex;
			gap: 10px;
			align-items: flex-start;


			* {
				color: $black;
				line-height: 125%;
			}

			&-text {
				display: flex;
				flex-direction: column;
				gap: 2px;
			}

			&-title {
				font-weight: 700;

				@media (max-width: vars.$tablet) {
					font-size: 14px;
				}
			}

			&-description {
				margin: 0;

				@media (max-width: vars.$tablet) {
					font-size: 12px;
				}
			}
		}

		.product-payment-advantages {
			display: flex;
			flex-direction: column;
			gap: 4px;
			list-style: none;
			margin: 0;
			margin-top: 11px;
		}

		.product-payment-advantage {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 12px;
			border: #F5F5F5 2px solid;
			border-radius: 20px;
			font-size: 14px;
			color: $black;

			&::before {
				content: url('./assets/check.svg');
				width: 20px;
				height: 20px;
			}
		}
	}

	// ====================

	.product-title {
		font-weight: 700;
		font-size: 36px;
		color: $blue;

		@media (max-width: vars.$tablet) {
			font-size: 28px;
		}
	}

	.product-subtitle {
		color: $blue;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 12px;
		margin-top: 24px;

		@media (max-width: vars.$tablet) {
			font-size: 18px;
		}
	}
}

.product-details {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	gap: 16px;

	@media (max-width: vars.$tablet-l) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: vars.$tablet) {
		grid-template-columns: 1fr;
		margin-top: 16px;
	}

	&__specs {
		max-width: 540px;
		width: 100%;
	}

	&__card {
		padding: 20px;
		margin-bottom: 20px;
		background-color: #f5f5f5;
		border-radius: 20px;

		.product-spec-name,
		.product-spec-value {
			background-color: #f5f5f5;

			@media (max-width: vars.$tablet) {
				background-color: #fff;
			}
		}

		@media (max-width: vars.$tablet) {
			background-color: transparent;
			padding: 0;
		}
	}

	&__show-more-button {
		margin-top: 8px;
		width: 100%;

		@media (max-width: vars.$tablet) {
			all: unset;
			font-weight: 700;
			font-size: 14px;
			text-decoration: underline;
			color: $accent;
		}

		&:hover {
			@media (max-width: vars.$tablet) {
				all: unset;
				font-weight: 700;
				font-size: 14px;
				text-decoration: underline;
				color: $accent;
			}
		}
	}

	&__specs-list {
		margin-top: 20px;

		max-height: 230px;
		overflow: hidden;
		position: relative;

		@media (max-width: vars.$tablet) {
			max-height: 80px;
			margin-top: 8px;
		}

		&.unfold {
			max-height: 100%;
		}

		&:not(.unfold)::after {
			content: '';
			position: absolute;
			height: 113px;
			width: 100%;
			bottom: 0;
			z-index: 20;
			background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #f5f5f5 100%);

			@media (max-width: vars.$tablet) {
				display: none;
			}
		}
	}

	&__title {
		font-size: 28px;
		font-weight: 700;
		color: $blue;
		text-transform: uppercase;

		@media (max-width: vars.$tablet) {
			font-size: 20px;
			text-transform: none;
		}
	}

	&__title-small {
		font-size: 20px;
	}

	&__excerpt {
		display: none;
		color: $black;
		line-height: 125%;
		margin-top: 8px;

		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		overflow: hidden;

		@media (max-width: vars.$tablet) {
			display: -webkit-box;
			font-size: 14px;
		}

		.product-details:has(.product-details__content.unfold) & {
			display: none;
		}
	}

	&__content {
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 8px;
		line-height: 110%;
		color: $black;
		margin: 0;
		margin-top: 16px;
		max-width: 960px;
		max-height: 440px;
		overflow: hidden;
		position: relative;

		&.unfold {
			max-height: 100%;

			@media (max-width: vars.$tablet) {
				display: block;
			}
		}

		&:not(.unfold)::after {
			content: '';
			position: absolute;
			height: 113px;
			width: 100%;
			bottom: 0;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);

			@media (max-width: vars.$tablet) {
				display: none;
			}
		}

		h2 {
			font-size: 20px;
			color: $black;
			font-weight: 700;
			margin-top: 8px;
			margin-bottom: 4px;
		}

		h3 {
			font-size: 18px;
			color: $black;
			font-weight: 700;
			margin-top: 8px;
			margin-bottom: 4px;
		}

		h4 {
			font-size: 16px;
			color: $black;
			font-weight: 700;
			margin-top: 8px;
			margin-bottom: 4px;
		}

		p {
			margin: 0;
		}

		ul {
			list-style: none;
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: 9px;

			li {
				padding-left: 28px;
				position: relative;

				&::before {
					content: url('./assets/check.svg');

					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}

		blockquote {
			background-color: #f5f5f5;
			margin: 8px 0;
			padding: 16px;
			border-left: $accent 2px solid;
			border-radius: 16px;
			font-style: normal;
		}

		@media (max-width: vars.$tablet) {
			display: none;
		}
	}

	&__docs {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-top: 16px;
	}

	&__doc-link {
		color: $black;
		font-size: 14px;
		font-weight: 700;
		text-decoration: underline;
		display: flex;
		gap: 5px;
		line-height: 100%;

		&::before {
			content: url('./assets/docs.svg');
			transform: translateY(-3px);
		}
	}
}

.tfm-desktop.tfm-desktop.tfm-desktop {
	@media (max-width: vars.$tablet) {
		display: none;
	}
}